<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title %}{{ title }} -{% endif %} {{ site.title }}</title>
    <meta name="description" content="{{ description or site.description }}" />
    <link rel="me" href="{{ site.social.mastodon }}" />
    <link rel="me" href="{{ site.social.github }}" />
    <link rel="webmention" href="https://webmention.io/jeremys.be/webmention" />
    <link rel="pingback" href="https://webmention.io/jeremys.be/xmlrpc" />
    <link rel="stylesheet" href="/assets/css/tailwind.css" />
    <link rel="stylesheet" href="/assets/css/global.css" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="{{ site.title }}"
      href="{{ site.url }}/feed.xml"
    />
  </head>
  <body class="o-grid space-y-6 md:space-y-12 text-pretty antialiased">
    {% include "partials/header.njk" %}

    <main class="o-grid__page space-y-4 md:space-y-14">
      {{ content | safe }}
    </main>

    {% include "partials/footer.njk" %}
  </body>
</html>
