@import "tailwind.css";

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('/assets/fonts/BricolageGrotesque.woff2') format('woff2-variations');
    src: url('/assets/fonts/BricolageGrotesque.woff2') format('woff2') tech('variations');
    font-weight: 200 800;
    font-stretch: 75% 100%;
}

:root {
    --grid-gutter: 1rem;
    --grid-gutter-row: 2rem;
    --grid-content: 40rem;
    --grid-popout: 2rem;
    --grid-page-max: 62.5rem;
    --grid-page: calc((var(--grid-page-max) - var(--grid-content) - var(--grid-popout) * 2) / 2);

    --font-sans: 'Bricolage Grotesque', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
    --font-stretch-condensed: 87.5%;

    @media (width >= 48rem) {
        --grid-gutter: 2rem;
        --grid-popout: 4rem;
    }
}

body {
  font-family: var(--font-sans);
}

.o-grid {
    display: grid;
    row-gap: var(--grid-gutter-row);
    grid-template-columns:
        [full-start]
            minmax(var(--grid-gutter), 1fr)
        [page-start]
            minmax(0, var(--grid-page))
        [popout-start]
            minmax(0, var(--grid-popout))
        [content-start]
            min(var(--grid-content), 100% - var(--grid-gutter) * 2)
        [content-end]
            minmax(0, var(--grid-popout))
        [popout-end]
            minmax(0, var(--grid-page))
        [page-end]
            minmax(var(--grid-gutter), 1fr)
        [full-end];
}

// All direct children default to content width
.o-grid > * {
    grid-column: content;
}

// Breakout utilities
.o-grid__popout {
    grid-column: popout;
}

.o-grid__page {
    grid-column: page;
}

.o-grid__full {
    grid-column: full;
}

// Main inherits the grid via subgrid to allow children to also use breakout classes
.o-grid > main {
    display: grid;
    grid-template-columns: subgrid;
    //grid-column: full;

    /* > * {
        grid-column: content;
        background: plum;
    } */

    > .o-grid__popout {
        grid-column: popout;
    }

    > .o-grid__page {
        grid-column: page;
    }

    > .o-grid__full {
        grid-column: full;
    }
}
