@import "tailwindcss";
@source "../../**/*.njk";

@theme {
  --font-stretch-semi-condensed: var(--font-stretch-semi-condensed);
  --color-neutral-primary: var(--c-neutral-primary);
  --color-neutral-secondary: var(--c-neutral-secondary);
  --color-neutral-tertiary: var(--c-neutral-tertiary);
  --color-accent-primary: var(--c-accent-primary);
  --color-accent-secondary: var(--c-accent-secondary);
}
