@import "tailwindcss";
@source "../../**/*.njk";

@theme {
  --font-sans--alt: var(--font-sans--alt);
  --font-serif--system: var(--font-serif--system);
  --font-mono--system: var(--font-mono--system);
  --text-prose: var(--font-size-prose);
  --color-primary-oklch: var(--primary-oklch);
  --color-primary: var(--primary-oklch);
  --color-primary--90: var(--primary--90);
  --color-primary--70: var(--primary--70);
  --color-primary--10: var(--primary--10);
  --color-secondary-oklch: var(--secondary-oklch);
  --color-secondary: var(--secondary-oklch);
  --color-secondary--70: var(--secondary--70);
}
