---
layout: layouts/base.njk
title: Blog
permalink: /blog/
---
<h1>Blog</h1>

{% for day in collections.blog | groupByDay %}
  <section>
    <h2>{{ day.label }} <span>Wk {{ day.week }}</span></h2>

    {% for post in day.posts %}
      {% set postType = post.data.tags | first %}

      {% if postType == "articles" %}
        {% include "partials/post-article.njk" %}
      {% elif postType == "notes" %}
        {% include "partials/post-note.njk" %}
      {% elif postType == "gamelog" %}
        {% include "partials/post-gamelog.njk" %}
      {% endif %}
    {% endfor %}
  </section>
{% endfor %}
