---
layout: layouts/base.njk
title: Blog
permalink: /blog/
---

<header class="o-grid__content">
  <h1>Blog</h1>
</header>

<section class="o-grid__content space-y-14">
  {% for day in collections.blog | groupByDay %}
    <section class="o-grid__content space-y-6">
      <header class="o-grid__page">
        <div class="pt-2 border-t border-neutral-tertiary">
          <div class="flex items-center justify-between">
            <small>{{ day.label }}</small>
            <small>Wk {{ day.week }}</small>
          </div>
        </div>
      </header>

      <ul class="o-grid__content c-postsList">
        {% for post in day.posts %}
          {% set postType = post.data.tags | first %}

          {% if postType == "articles" %}
            {% include "partials/post-article.njk" %}
          {% elif postType == "notes" %}
            {% include "partials/post-note.njk" %}
          {% elif postType == "gamelog" %}
            {% include "partials/post-gamelog.njk" %}
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</section>
