---
layout: layouts/base.njk
pagination:
  data: gamesWithColors
  size: 1
  alias: game
permalink: /gamelog/{{ game.slug }}/
eleventyComputed:
  title: "{{ game.title }} - Gamelog"
---

<header class="o-grid__popout space-y-3">
  <h1>{{ game.title }}</h1>
  <div
    class="p-4 flex gap-4 items-center rounded-lg text-(--text-color)! bg-(--bg-color) gamelog__bar--bg"
    style="--text-color: {{ game.textColor }}; --bg-color: {{ game.backgroundColor }}; --bg-cover: url('/assets/images/games/{{ game.cover }}');"
  >
    <img
      class="size-14 shadow-sm"
      src="/assets/images/games/{{ game.cover }}"
      alt="{{ game.title }}"
    />
    <div class="space-y-0">
      <p>{{ game.status }}</p>
      <p>{{ game.platform }}</p>
    </div>
    {% set gameEntries = collections.gamelog | filterByGame(game.slug) %}
    <span class="ml-auto font-bold text-3xl font-stretch-semi-condensed"
      >{{ gameEntries.length }}</span
    >
  </div>
</header>

<section class="o-grid__content space-y-10">
  {% set gameEntries = collections.gamelog | filterByGame(game.slug) %}
  {% if gameEntries | length > 0 %}
    {% for entry in gameEntries %}
      <article class="o-grid__content space-y-4">
        <header class="flex items-center gap-2">
          <a class="shrink-0" href="{{ entry.url }}">
            <time datetime="{{ entry.date | htmlDateString }}"
              ><small>{{ entry.date | readableDate }}</small></time
            >
          </a>
          <span class="w-full h-px bg-neutral-tertiary"></span>
        </header>
        <div class="o-grid__content o-prose--small">
          {{ entry.content | safe }}
        </div>
      </article>
    {% endfor %}
  {% else %}
    <p>No entries yet.</p>
  {% endif %}
</section>
