---
layout: layouts/base.njk
title: Gamelog
permalink: /gamelog/
---

{% set latestEntry = collections.gamelog | first %}
<header class="o-grid__content o-prose">
  {% if latestEntry %}
    <small
      >Last updated:
      <time datetime="{{ latestEntry.date | htmlDateString }}"
        >{{ latestEntry.date | readableDate }}</time
      ></small
    >
  {% endif %}
  <h1>Gamelog</h1>
  <p>
    Playing games is one of my favorite things to do in my free time. Over the
    years, I've played a lot of games and this page is an effort in publicly
    cataloguing this.
  </p>
</header>

<ul
  class="o-grid__page flex flex-col items-center md:flex-row md:items-end gap-1 flex-wrap"
>
  {% for game in gamesWithColors | sortByLatestEntry(collections.gamelog) %}
    <li
      class="p-4 flex items-end justify-between w-(--bar-w) md:w-fit md:min-h-(--bar-h) md:[writing-mode:vertical-rl] md:[text-orientation:mixed]"
      style="--bar-w: {{ game.barWidth }}%; --bar-h: {{ game.barHeight }}px; --text-color: {{ game.textColor }}; background-color: {{ game.backgroundColor }}; color: var(--text-color);"
    >
      <header class="flex flex-col">
        <h3>{{ game.title }}</h3>
        <small class="opacity-80" style="color: var(--text-color);"
          >{{ game.platform }}</small
        >
      </header>
      <small class="opacity-80" style="color: var(--text-color);"
        >{{ game.status }}</small
      >
    </li>
  {% endfor %}
</ul>
