---
layout: layouts/base.njk
title: Gamelog
permalink: /gamelog/
---

{% set latestEntry = collections.gamelog | first %}
<header class="o-grid__content o-prose">
  {% if latestEntry %}
    <small
      >Last updated:
      <time datetime="{{ latestEntry.date | htmlDateString }}"
        >{{ latestEntry.date | readableDate }}</time
      ></small
    >
  {% endif %}
  <h1 class="largeTitle">Gamelog</h1>
  <p>
    Playing games is one of my favorite things to do in my free time. Over the
    years, I've played a lot of games and this page is an effort in publicly
    cataloguing this.
  </p>
</header>

<section class="o-grid__page">
  <ul>
    {% for game in gamesWithColors | sortByLatestEntry(collections.gamelog) %}
      <li class="border-t border-neutral-tertiary py-1">
        <a
          href="/gamelog/{{ game.slug }}/"
          class="group flex items-center gap-4 p-3 rounded-md hover:bg-neutral-tertiary/10 transition-colors"
        >
          <img
            src="/src/assets/images/games/{{ game.cover }}"
            alt=""
            class="size-8 transition-all duration-300 will-change-transform group-hover:scale-110 group-hover:rotate-4"
            eleventy:widths="64,128"
          />
          <h2 class="mb-0! flex-1 text-neutral-primary">{{ game.title }}</h2>
          <ul class="flex items-center">
            <small>{{ game.platform }}</small>
            <small class="mx-1.5 text-neutral-secondary opacity-50">/</small>
            <small>{{ game.status }}</small>
            <small class="mx-1.5 text-neutral-secondary opacity-50">/</small>
            {% set count = collections.gamelog | filterByGame(game.slug) | length %}
            <small>{{ count }} entr{{ "y" if count == 1 else "ies" }}</small>
          </ul>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
