---
layout: layouts/base.njk
title: Work
permalink: /work/
---

<header class="o-grid__content">
  <h1>Work</h1>
  <p class="o-prose">
    Over the past 12 years, I’ve worked on a range of design and development
    projects. This selection highlights the kinds of problems I’ve explored and
    the work I’ve contributed to along the way.
  </p>
</header>

<section class="o-grid__full">
  {% for project in collections.work %}
    {% include "partials/project.njk" %}
  {% endfor %}
</section>
