<footer class="site-footer">
  <p>&copy; {% if page.date %}{{ page.date | date('yyyy') }}{% else %}{{ "now" | date('yyyy') }}{% endif %} {{ site.author }}</p>
  {% if site.social %}
  <ul class="social-links">
    {% if site.social.github %}<li><a href="https://github.com/{{ site.social.github }}">GitHub</a></li>{% endif %}
    {% if site.social.linkedin %}<li><a href="https://linkedin.com/in/{{ site.social.linkedin }}">LinkedIn</a></li>{% endif %}
    {% if site.social.twitter %}<li><a href="https://twitter.com/{{ site.social.twitter }}">Twitter</a></li>{% endif %}
  </ul>
  {% endif %}
</footer>
