<footer class="o-grid__content text-sm text-primary--70">
  <div class="flex items-center justify-between">
    <small>
      &copy; {{ "now" | date('yyyy') }}
      {{ site.author }}
    </small>
    <ul class="flex items-center gap-3">
      {% if site.social %}
        {% for name, url in site.social %}
          <li>
            <small>
              <a class="text-current!" href="{{ url }}"
                >{{ name | capitalize }}</a
              >
            </small>
          </li>
        {% endfor %}
      {% endif %}
      <li>
        <small>
          <a class="text-current!" href="/feed.xml">RSS</a>
        </small>
      </li>
    </ul>
  </div>
</footer>
