<footer class="o-grid__content text-sm text-neutral-secondary">
  <div class="flex items-center justify-between">
    <p>
      &copy; {{ "now" | date('yyyy') }}
      {{ site.author }}
    </p>
    {% if site.social %}
      <ul class="flex items-center gap-3">
        {% for name, url in site.social %}
          <li>
            <small>
              <a class="text-current!" href="{{ url }}"
                >{{ name | capitalize }}</a
              >
            </small>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</footer>
