{% set firstVisibleNav = nav | rejectattr("hidden") | first %}
<header role="mastHead" class="o-grid__content">
  <div class="flex items-center justify-between">
    <a href="{{ firstVisibleNav.url if firstVisibleNav else '/' }}"
      >{{ site.name }}</a
    >
    <nav>
      <ul class="flex items-center gap-6">
        {% for item in nav %}
          {% if not item.hidden %}
            <li>
              <a
                href="{{ item.url }}"
                {% set isActive = page.url == item.url or (item.url != '/' and page.url.startsWith(item.url)) %}
                {% if item.matches %}{% for match in item.matches %}{% if page.url.startsWith(match) %}{% set isActive = true %}{% endif %}{% endfor %}{% endif %}
                {% if isActive %}aria-current="page"{% endif %}
                >{{ item.label }}</a
              >
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
