<header class="o-grid__content text-xs! font-medium!">
  <div class="flex items-center justify-between">
    <a
      href="/"
      class="block pt-10 pb-3.5 px-3.5 uppercase tracking-wider text-neutral-secondary! hover:text-neutral-primary! aria-[current=page]:text-white! aria-[current=page]:bg-accent-primary!"
      >{{ site.name }}</a
    >
    <nav>
      <ul class="flex">
        {% for item in nav %}
          <li>
            <a
              class="block pt-10 pb-3.5 px-3.5 uppercase tracking-wider text-neutral-secondary! hover:text-neutral-primary! aria-[current=page]:text-white! aria-[current=page]:bg-accent-primary!"
              href="{{ item.url }}"
              {% if page.url == item.url %}aria-current="page"{% endif %}
              >{{ item.label }}</a
            >
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
