<article class="o-grid__content">
  {% if post.data.title %}
    <h2 class="font-sans--alt text-primary">{{ post.data.title }}</h2>
  {% endif %}
  <div class="o-grid__content o-prose mb-3">
    {{ post.templateContent | safe }}
  </div>
  <footer class="flex items-center">
    {% set time = post.date | formatTime %}
    <small>
      <a href="{{ post.url }}">
        <time datetime="{{ post.date | htmlDateString }}">
          {{ time if time else post.date | readableDate }}
        </time>
      </a>
    </small>
    {% if post.data.link %}
      <small class="mx-1.5 text-primary--10">/</small>
      <small>
        <a href="{{ post.data.link }}" rel="noopener">View source</a>
      </small>
    {% endif %}
    {% set displayTags = post.data.tags | excludeTags(["notes"]) %}
    {% if displayTags.length %}
      <small class="mx-1.5 text-primary--10">/</small>
      <small>Filed under: {{ displayTags | join(", ") }}</small>
    {% endif %}
  </footer>
</article>
