<article class="o-grid__content">
  <h2 class="largeTitle text-primary">
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </h2>
  <div class="o-grid__content o-prose mb-3">
    {% if post.data.excerpt %}
      <p>{{ post.data.excerpt }}</p>
    {% else %}
      {{ post.templateContent | safe }}
    {% endif %}
  </div>
  <footer class="flex items-center">
    {% set time = post.date | formatTime %}
    {% if time %}
      <small>
        <time datetime="{{ post.date | htmlDateString }}">{{ time }}</time>
      </small>
    {% endif %}
    {% set displayTags = post.data.tags | excludeTags(["articles"]) %}
    {% if displayTags.length %}
      <small class="mx-1.5 text-primary--10">/</small>
      <small>Filed under: {{ displayTags | join(", ") }}</small>
    {% endif %}
  </footer>
</article>
