<article class="post-note">
  {% if post.data.title %}
    <h4>{{ post.data.title }}</h4>
  {% endif %}
  <div class="post-content o-prose">
    {{ post.templateContent | safe }}
  </div>
  <footer class="post-meta">
    {% set time = post.date | formatTime %}
    <a href="{{ post.url }}">
      <time datetime="{{ post.date | htmlDateString }}">
        {{ time if time else post.date | readableDate }}
      </time>
    </a>
    {% if post.data.link %}
      <a href="{{ post.data.link }}" class="external-link" rel="noopener">Link</a>
    {% endif %}
  </footer>
</article>
