<article class="o-grid__content">
  <h2 class="text-neutral-secondary">
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </h2>
  <div class="o-grid__content o-prose mb-3">
    {% if post.data.excerpt %}
      <p>{{ post.data.excerpt }}</p>
    {% else %}
      {{ post.templateContent | safe }}
    {% endif %}
  </div>
  <footer class="flex items-center gap-3">
    {% set time = post.date | formatTime %}
    {% if time %}
      <small>
        <time datetime="{{ post.date | htmlDateString }}">{{ time }}</time>
      </small>
    {% endif %}
    {% if post.data.tags.length > 1 %}
      <ul class="flex">
        {% for tag in post.data.tags %}
          {% if tag != "articles" %}
            <li><small>{{ tag }}</small></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </footer>
</article>
