<article class="o-grid__content">
  {% if post.data.title %}
    <h2 class="text-neutral-secondary">{{ post.data.title }}</h2>
  {% endif %}
  <div class="o-grid__content o-prose mb-3">
    {{ post.templateContent | safe }}
  </div>
  <footer class="flex items-center gap-3">
    {% set time = post.date | formatTime %}
    <small>
      <a href="{{ post.url }}">
        <time datetime="{{ post.date | htmlDateString }}">
          {{ time if time else post.date | readableDate }}
        </time>
      </a>
    </small>
    {% if post.data.game %}
      {% set gameData = post.data.game | getGame(games) %}
      {% if gameData %}
        <small>{{ gameData.title }}</small>
      {% endif %}
    {% endif %}
  </footer>
</article>
