<article
  class="relative o-grid__content py-6 md:py-12 space-y-4 md:space-y-10"
  data-theme="{{ project.data.title | slugify }}"
>
  <div
    class="-z-1 invisible md:visible absolute top-6 md:top-12 w-screen h-full -ml-[50vw] left-1/2 pointer-events-none"
  >
    <span
      class="sticky top-6 md:top-12 left-0 -translate-x-1/8 text-[15vh] opacity-15 md:[writing-mode:vertical-lr] md:[text-orientation:mixed]"
      >{{ project.data.title }}</span
    >
  </div>
  <header class="o-grid__popout">
    <div class="pt-2 border-t border-neutral-tertiary">
      <div class="flex items-center justify-between">
        {% if project.data.year %}
          <small>{{ project.data.year }}</small>
        {% endif %}
        {% if project.data.skills %}
          <small>{{ project.data.skills }}</small>
        {% endif %}
      </div>
      <h2 class="project__title">{{ project.data.title }}</h2>
    </div>
  </header>

  <div class="o-grid__content o-prose--small">{{ project.content | safe }}</div>
</article>
