{% set mentions = webmentions | webmentionsByUrl(page.url) %}
{% set likes = mentions | webmentionsByType("like-of") %}
{% set reposts = mentions | webmentionsByType("repost-of") %}
{% set replies = mentions | webmentionsByType("in-reply-to") %}

{% if mentions.length %}
  <aside class="pt-8 space-y-6 border-t border-neutral-tertiary">
    <header>
      <h3 class="text-neutral-secondary">Responses</h3>
      <p>
        My blog uses Webmentions. Responses from Mastodon and other sites that
        send Webmentions will show up here.
      </p>
    </header>

    {% if likes.length or reposts.length or replies.length %}
      <ul
        class="flex items-center divide-x divide-neutral-tertiary border-t border-b border-neutral-tertiary *:py-1 *:flex *:flex-1 *:items-center *:justify-center"
      >
        {% if likes.length %}
          <li>
            <small
              ><b class="font-semibold">{{ likes.length }}</b>
              like{{ "s" if likes.length != 1 }}</small
            >
          </li>
        {% endif %}
        {% if reposts.length %}
          <li>
            <small
              ><b class="font-semibold">{{ reposts.length }}</b>
              boost{{ "s" if reposts.length != 1 }}</small
            >
          </li>
        {% endif %}
        {% if replies.length %}
          <li>
            <small
              ><b class="font-semibold">{{ replies.length }}</b>
              repl{{ "y" if replies.length == 1 else "ies" }}</small
            >
          </li>
        {% endif %}
      </ul>
    {% endif %}

    {% if replies.length %}
      <ul class="list-none divide-y divide-dashed divide-neutral-tertiary">
        {% for reply in replies %}
          <li class="py-6 flex gap-3 first:pt-0 last:pb-0">
            <a
              href="{{ reply.author.url }}"
              rel="noopener"
              class="hover:bg-transparent"
            >
              <img
                src="{{ reply.author.photo or '/assets/images/avatar-default.svg' }}"
                alt=""
                loading="lazy"
                width="40"
                height="40"
                class="size-8 rounded-full object-cover"
              />
            </a>
            <div class="space-y-2">
              <div class="flex items-center">
                <small>
                  <a
                    href="{{ reply.author.url }}"
                    rel="noopener"
                    class="font-medium!"
                    >{{ reply.author.name }}</a
                  >
                </small>
                <small class="mx-1.5 text-neutral-secondary opacity-50"
                  >/</small
                >
                <small
                  ><a href="{{ reply.url }}" rel="noopener"
                    >{{ reply.published | date("LLL d, yyyy") }}</a
                  ></small
                >
              </div>
              {% if reply.content and reply.content.text %}
                {{ reply.content.html | safe if reply.content.html else reply.content.text }}
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </aside>
{% endif %}
